<% content_for :head do %>
  <h2>About</h2>
<% end %>

<div style="padding-left:16px">
  <p>  Welcome to KMusic World where you can find all things about korean
  music on this page. The site was created in 2016 with the aim of
  allowing niche korean groups to get their music out to the world.
  The site is mianly aimed towards UK korean music fans, however all 
  is welcome.
  
  With the rise in fame for kpop idols the other music genre's are 
  falling behind in gaining attention. Hopefully the page will allow
  people to discover new artists you have never heard of and events
  that are happening near you.</p>
</div>

<!--Google map-->
	<h3>Office location</h3>

<div id="map" style="width:px;height:400px;background:pink"></div>

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(51.5, -0.2), zoom: 10
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap">
</script>