<% content_for :head do %>
  <h2>Genres</h2>
<% end %>

  <p>The Music of South Korea has evolved over the course of the decades since the end of the Korean War, and has its roots in the music of the Korean people, who have inhabited the Korean peninsula for over a millennium. Contemporary South Korean music can be divided into three different main categories: Traditional Korean folk music, popular music, or K-pop, and Western-influenced non-popular music.</p>
  <center>
  <table><tr><th><a href="../group_info/kpop">Pop!</a></th>
			<th><a href="../group_info/trot">Trot!</a></th>
			<th><a href="../group_info/hiphop">Hip-Hop!</a></th></tr>
		<tr><td><img src=<%= image_url('BTS.jpg') %> alt="kpop"></td>
		<td><img src=<%= image_url('HongJinYoung.png') %>  alt="trot"></td>
		<td><img src=<%= image_url('DrunkenTiger.jpg') %> alt="hiphop"></td></tr>
  </table>

