<% content_for :head do %>
  <h2>Hip-Hop</h2>
<% end %>

<p>Korean hip hop, also known as K-hip hop, is a subgenre of hip hop music from South Korea. It is widely considered to have originated in the late 1980s and early 1990s and has since become increasingly popular, both in Korea and abroad. In 2016, the Korea Foundation cited Korean hip hop as a new trend in the Korean Wave. </p>

<p>In addition to music, Korea's hip hop culture includes a vibrant b-boying scene.</p>

<!--Youtube Video-->
<div>
<center>
	<iframe src="https://www.youtube.com/embed/X-Ky_xNJsF4" width="1060" height="515"  frameborder="0" allowfullscreen></iframe>"
<center>
</div>

