<% content_for :head do %>
  <h2>Pop</h2>
<% end %>

<p>K-pop (an abbreviation of Korean pop; Hangul: 케이팝) is a musical genre originating in South Korea that is characterized by a wide variety of audiovisual elements. Although it comprises all genres of "popular music" within South Korea, the term is more often used in a narrower sense to describe a modern form of South Korean pop music covering a range of styles including dance-pop, pop ballad, electropop, R&B and hip-hop music. The genre emerged with one of the earliest K-pop groups, Seo Taiji and Boys, forming in 1992. Their experimentation with different styles of music "reshaped Korea's music scene". As a result, the integration of foreign musical elements has now become common practice in the K-pop industry.</p>

<p>K-pop entered the Japanese market at the turn of the 21st century and rapidly grew into a subculture among teenagers and young adults of East and Southeast Asia. Currently, the global spread of K-pop and Korean culture known as the Korean Wave is seen in Latin America, India, North Africa, the Middle East, and elsewhere in the Western world. This is owing largely to Internet social networking services.</p>

<!--Youtube Video-->
<div>
<center>
	<iframe src="https://www.youtube.com/embed/hmE9f-TEutc"
	width="1060" height="515" frameborder="0" allowfullscreen></iframe>
<center>
</div>
